.row {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.tab {
  ul {
    width: fit-content;
    border-radius: 20px;
    background-color: rgba(2, 87, 115, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    li {
      padding: 5px 10px;
      list-style: none;
      border-radius: 20px;
      font-weight: 300;
      font-size: 18px;
      &:hover {
        cursor: pointer;
        transition: all 0.5s ease;
        background-color: rgba(2, 87, 115, 0.15);
      }
      @media screen and (max-width: 480px) {
        font-size: 12px;
      }
    }
    li.active {
      background-color: rgba(2, 87, 115, 0.5);
      color: #ffffff;
      transition: all 0.5s ease;
    }
  }
}

.experience {
  transition: all 0.5s ease-in;
  .jobtitle {
    font-size: 18px;
    font-weight: 600;
    a {
      color: rgb(51, 71, 75);
    }
  }
  img {
    width: 100px;
    height: 100px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
  }
  ul {
    li {
      font-size: 18px;
      font-weight: 300;
      list-style-type: circle;
    }
  }
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .badge {
      padding: 5px 10px;
      margin: 3px;
      border: 1px solid rgb(51, 71, 75);
      border-radius: 50px;
      background-color: rgba(51, 71, 75, 0.8);
      color: #ffffff;
      font-weight: 300;
      font-size: 14px;
    }
  }
}
