.nav {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 1024px) {
      display: none;
    }
    button {
      background-color: #ffffff;
      font-size: 20px;
      color: rgb(51, 71, 75);
      border: 1px solid rgb(51, 71, 75);
    }
  }
  .navitems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    ul {
      display: flex;
      padding: 0;
      li {
        list-style: none;
        margin: 10px 5px;
        padding: 5px;
        border-bottom: 4px solid transparent;
        font-size: large;
        font-weight: 500;
        &:hover {
          border-bottom: 4px solid #025673;
          color: #025673;
          cursor: pointer;
        }
      }
    }
    div.btngroup {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .btn {
        padding: 10px 15px;
        margin-right: 10px;
        // border-radius: 2px;
        font-weight: 400;
        &:hover {
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          cursor: pointer;
        }
      }
      .primarybtn {
        border: 1px solid #025673;
        color: #025673;
        background-color: #ffffff;
        &:hover {
          background-color: rgba(2, 87, 115, 0.048);
        }
      }
      .secondarybtn {
        border: 1px solid #025673;
        background-color: #025673;
        color: #ffffff;
      }
    }
  }
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(51, 71, 75);
    padding: 10px;
    .header {
      padding: 10px;
      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          border-radius: 50%;
          object-fit: cover;
        }
        h4 {
          font-weight: 300;
          font-size: xx-large;
          // line-height: 0;
          margin: 0 0 0 10px;
          color: #ffffff;
        }
      }
    }
    .navitems {
      flex: 1;
      background-color: rgb(51, 71, 75);
      display: flex;
      flex-direction: column;
      padding: 10px;
      left: -100%;
      top: 70px;
      transition: all 0.5s ease;
      position: absolute;
      opacity: 1;
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        li {
          width: 100%;
          color: #ffffff;
          padding: 10px;
          font-size: x-large;
          &:hover {
            background-color: transparent;
            color: #ffffff;
            border: 2px solid #ffffff;
          }
        }
      }
      div.btngroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
          width: 100%;
          margin: 5px;
          font-size: large;
          display: block;
          text-align: center;
        }
        .primarybtn {
          border: 2px solid #ffffff;
          color: #025673;
          background-color: #ffffff;
        }
      }
    }

    .navitems.active {
      left: 0;
      transition: all 0.5s ease;
      z-index: 1;
      opacity: 1;
    }
  }
}
