.nav {
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 1024px) {
      display: none;
    }
    button {
      background-color: #ffffff;
      font-size: 20px;
      color: rgb(51, 71, 75);
      border: 1px solid rgb(51, 71, 75);
    }
  }
  ul {
    display: flex;
    padding: 0;
    li {
      list-style: none;
      margin: 10px 5px;
      padding: 5px;
      border-bottom: 4px solid transparent;
      font-size: large;
      font-weight: 500;
      &:hover {
        border-bottom: 4px solid #025673;
      }
    }
  }
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(51, 71, 75);
    padding: 10px;
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 10px;
      img {
        border-radius: 50%;
        object-fit: cover;
      }
      h4 {
        font-weight: 300;
        font-size: xx-large;
        margin-left: 10px;
        color: #ffffff;
      }
    }
    ul {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0;
      li {
        display: block;
        width: 100%;
        color: #ffffff;
        margin: 0;
        padding: 10px;
        font-size: x-large;
        &:hover {
          background-color: #025673;
        }
      }
    }
    div.btngroup {
      display: flex;
      flex-direction: column;

      button {
        width: max-content;
      }
    }
  }
  div.btngroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    button {
      padding: 10px 15px;
      margin-right: 10px;
      border-radius: 2px;
      font-weight: bold;
      border-radius: 5px;
      &:hover {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        cursor: pointer;
      }
    }
    button.primarybtn {
      border: 2px solid #025673;
      color: #025673;
      background-color: #ffffff;
    }
    button.secondarybtn {
      border: 2px solid #025673;
      background-color: #025673;
      color: #ffffff;
    }
  }
}
