.nav {
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 30px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 1024px) {
      display: none;
    }
    button {
      background-color: #ffffff;
      font-size: 20px;
      color: rgb(51, 71, 75);
      border: 1px solid rgb(51, 71, 75);
    }
  }
  .navitems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    div {
      display: flex;
      padding: 0;
      a {
        list-style: none;
        margin: 10px 5px;
        padding: 5px;
        border-bottom: 4px solid transparent;
        font-size: x-large;
        font-weight: 500;
        &:hover {
          border-bottom: 4px solid #000000;
          color: #000000;
          cursor: pointer;
        }
      }
    }
    div.btngroup {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .btn {
        padding: 10px 15px;
        margin-right: 10px;
        font-weight: 400;
        font-size: medium;
        &:hover {
          // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.308);
          cursor: pointer;
        }
      }
      .primarybtn {
        border: 2px solid #000000;
        color: #000000;
        background-color: #ffffff;
        &:hover {
          background-color: rgba(78, 78, 78, 0.048);
        }
      }
      .secondarybtn {
        border: 2px solid #000000;
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    .header {
      padding: 10px;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: bisque;
        h4 {
          font-weight: 300;
          font-size: xx-large;
          color: #000000;
        }
      }
    }
    .navitems {
      flex: 1;
      background-color: #f7f7f7;
      display: flex;
      flex-direction: column;
      padding: 20px;
      left: -100%;
      top: 70px;
      transition: all 0.5s ease;
      position: absolute;
      opacity: 1;
      div {
        display: flex;
        flex-direction: column;
        padding: 0;
        a {
          width: 100%;
          color: #000000;
          font-size: 20px;
          &:hover {
            background-color: transparent;
            color: #ffffff;
          }
        }
      }
      div.btngroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
          width: 100%;
          margin: 5px;
          font-size: 22px;
          display: block;
          text-align: center;
        }
        .primarybtn {
          border: 2px solid #000000;
          color: #025673;
          background-color: #ffffff;
        }
      }
    }

    .navitems.active {
      left: 0;
      transition: all 0.5s ease;
      z-index: 1;
      opacity: 1;
    }
  }
}
